################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/_Proyecto/bin
/_Proyecto/obj
/_Proyecto/.vs/TuYaque
