<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.TUYAQUEConnectionString"
            connectionString="Data Source=.\DEVLAB;Initial Catalog=TUYAQUE;Persist Security Info=True;User ID=sa;Password=@dev"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>